html,
body {
	font-family: "Lexend Deca", sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
}
a {
	text-decoration: none;
	color: black;
}

/* Nav */
.nav {
	position: relative;
	height: 80px;
	width: 100%;
	background-color: rgb(189, 188, 188);
}
.nav a {
	color: #fff;
}
.nav ul {
	list-style-type: none;
	margin: 0;
	padding-left: 1%;
	padding-top: 8px;
	padding-right: 5%;
}

.nav li {
	float: right;
}
.nav-item {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 80%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#logo {
	float: left;
}

.nav li a:hover {
	background-color: red;
}

/* Hero Section */

.hero-image {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	); /*, url("../assets/img/background1.jpg"); */
	height: 85%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.hero-text button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 10px 25px;
	color: black;
	background-color: #ddd;
	text-align: center;
	cursor: pointer;
}

.hero-text button:hover {
	background-color: #555;
	color: white;
}

.mainArea {
	height: 100%;
	background-color: rgb(245, 245, 245);
}

.textArea {
  margin-left: 25%;
  margin-right: 10%;
}

.dropdown-title {
  text-align: center;
}

#menu {
  float: left;
}


@media only screen and (max-width: 770px) {
	footer {
		text-align: center;
		margin: 0 5vh 30px 5vh;
	}

	footer p,
	.footer-links {
		margin-top: 10px;
		display: inline-block;
	}

	.footer-links {
		text-align: center;
	}

	.footer-links a {
		margin-left: 20px;
	}
}

.pure-img-responsive {
	max-width: 100%;
	height: auto;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
	position: relative;
	left: 0;
	padding-left: 0;
}
#layout.active #menu {
	left: 150px;
	width: 150px;
}

#layout.active . -link {
	left: 150px;
}
/*
The content `<div>` is where all your content goes.
*/
.content {
	margin: 0 auto;
	padding: 0 2em;
	max-width: 800px;
	margin-bottom: 50px;
	line-height: 1.6em;
}

.header {
	margin: 0;
	color: #333;
	text-align: center;
	padding: 2.5em 2em 0;
	border-bottom: 1px solid #eee;
}
.header h1 {
	margin: 0.2em 0;
	font-size: 3em;
	font-weight: 300;
}
.header h2 {
	font-weight: 300;
	color: #ccc;
	padding: 0;
	margin-top: 0;
}

.content-subhead {
	margin: 50px 0 20px 0;
	font-weight: 300;
	color: #888;
}

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
	margin-left: -150px; /* "#menu" width */
	width: 20%;
	position: relative;
	height: 100%;
	z-index: 1000; /* so the menu or its navicon stays above all content */
	background: #e5e5e6;
	overflow: hidden;
}
/*
    All anchors inside the menu should be styled like this.
    */
#menu a {
	color: #659ee4;
	border: none;
	padding: 0.9em 0 0.9em 0.5em;
}

This styles the selected menu item `<li > `. */ #menu .pure-menu-selected,
#menu .pure-menu-heading {
	background: #1f8dd6;
}
/*
        This styles a link within a selected menu item `<li>`.
        */
#menu .pure-menu-selected a {
	color: #fff;
}

/*
    This styles the menu heading.
    */
#menu .pure-menu-heading {
	font-size: 200%;
	padding-left: 32%;
	color: #fff;
	margin: 0;
}

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
	position: fixed;
	display: block; /* show this only on small screens */
	top: 0;
	left: 0; /* "#menu width" */
	background: #000;
	background: rgba(0, 0, 0, 0.7);
	font-size: 10px; /* change this value to increase/decrease button size */
	z-index: 10;
	width: 2em;
	height: auto;
	padding: 2.1em 1.6em;
}

.menu-link:hover,
.menu-link:focus {
	background: #000;
}

.menu-link span {
	position: relative;
	display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
	background-color: #fff;
	width: 100%;
	height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
	position: absolute;
	margin-top: -0.6em;
	content: " ";
}

.menu-link span:after {
	margin-top: 0.6em;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {
	.header,
	.content {
		padding-left: 2em;
		padding-right: 2em;
	}

	#layout {
		padding-left: 150px; /* left col width "#menu" */
		left: 0;
	}
	#menu {
		left: 150px;
	}

	.menu-link {
		position: fixed;
		left: 150px;
		display: none;
	}

	#layout.active .menu-link {
		left: 150px;
	}
}

@media (max-width: 48em) {
	/* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
	#layout.active {
		position: relative;
		left: 150px;
	}
}

*,
*:before,
*:after {
	-webkit-border-sizing: border-box;
	-moz-border-sizing: border-box;
	border-sizing: border-box;
}

.container {
	width: 350px;
	margin: 50px auto;
}
.container > ul {
	list-style: none;
	padding: 0;
	margin: 0 0 20px 0;
}

.title {
    margin-top: 0px;
	font-family: "Pacifico";
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	color: #c0392b;
}

.single {
	display: block;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.single a {
	display: block;
}

.area {
	width: 50%;
}

.dropdown {
	position: relative;
	list-style-type: none;
}
.dropdown a {
	text-decoration: none;
}
.dropdown [data-toggle="dropdown"] {
	display: block;
	color: #659ee4;
	box-shadow: 0 0px 0 #333 inset, 0 0px 0 #333 inset;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	padding-left: 5px;
}

.dropdown [data-toggle="dropdown"]:before {
	position: absolute;
	display: block;
	content: "\25BC";
	font-size: 0.7em;
	color: #659ee4;
	top: 13px;
	right: 10px;
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-moz-transition: -moz-transform 0.6s;
	-o-transition: -o-transform 0.6s;
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}
.dropdown > .dropdown-menu {
	max-height: 0;
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
	-moz-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-moz-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-moz-transition: max-height 0.6s ease-out;
	-o-transition: max-height 0.6s ease-out;
	-webkit-transition: max-height 0.6s ease-out;
	transition: max-height 0.6s ease-out;
	animation: hideAnimation 0.4s ease-out;
	-moz-animation: hideAnimation 0.4s ease-out;
	-webkit-animation: hideAnimation 0.4s ease-out;
}
.dropdown > .dropdown-menu li {
	margin-left: 8px;
	padding: 0;
	padding-left: 10px;
	border-left: 1px solid #659ee4;
}
.dropdown > .dropdown-menu li a {
	display: block;
	color: #6f6f6f;
	background: ;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
	padding: 90px 10px;
}
.dropdown-menu {
	list-style-type: none;
}

.pure-menu li a {
	padding-top: 10px;
	margin-left: 10px;
}
.pure-menu li:hover {
	background: #f6f6f6;
}
.dropdown > input[type="checkbox"] {
	opacity: 0;
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.dropdown > input[type="checkbox"]:checked ~ .dropdown-menu {
	max-height: 9999px;
	display: block;
	-moz-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	animation: showAnimation 0.5s ease-in-out;
	-moz-animation: showAnimation 0.5s ease-in-out;
	-webkit-animation: showAnimation 0.5s ease-in-out;
	-moz-transition: max-height 2s ease-in-out;
	-o-transition: max-height 2s ease-in-out;
	-webkit-transition: max-height 2s ease-in-out;
	transition: max-height 2s ease-in-out;
}
.dropdown > input[type="checkbox"]:checked + a[data-toggle="dropdown"]:before {
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
	-moz-transition: -moz-transform 0.6s;
	-o-transition: -o-transform 0.6s;
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}

@keyframes showAnimation {
	0% {
		-moz-transform: scaleY(0.1);
		-ms-transform: scaleY(0.1);
		-webkit-transform: scaleY(0.1);
		transform: scaleY(0.1);
	}
	40% {
		-moz-transform: scaleY(1.04);
		-ms-transform: scaleY(1.04);
		-webkit-transform: scaleY(1.04);
		transform: scaleY(1.04);
	}
	60% {
		-moz-transform: scaleY(0.98);
		-ms-transform: scaleY(0.98);
		-webkit-transform: scaleY(0.98);
		transform: scaleY(0.98);
	}
	80% {
		-moz-transform: scaleY(1.04);
		-ms-transform: scaleY(1.04);
		-webkit-transform: scaleY(1.04);
		transform: scaleY(1.04);
	}
	100% {
		-moz-transform: scaleY(0.98);
		-ms-transform: scaleY(0.98);
		-webkit-transform: scaleY(0.98);
		transform: scaleY(0.98);
	}
	80% {
		-moz-transform: scaleY(1.02);
		-ms-transform: scaleY(1.02);
		-webkit-transform: scaleY(1.02);
		transform: scaleY(1.02);
	}
	100% {
		-moz-transform: scaleY(1);
		-ms-transform: scaleY(1);
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
}
@-moz-keyframes showAnimation {
	0% {
		-moz-transform: scaleY(0.1);
		-ms-transform: scaleY(0.1);
		-webkit-transform: scaleY(0.1);
		transform: scaleY(0.1);
	}
	40% {
		-moz-transform: scaleY(1.04);
		-ms-transform: scaleY(1.04);
		-webkit-transform: scaleY(1.04);
		transform: scaleY(1.04);
	}
	60% {
		-moz-transform: scaleY(0.98);
		-ms-transform: scaleY(0.98);
		-webkit-transform: scaleY(0.98);
		transform: scaleY(0.98);
	}
	80% {
		-moz-transform: scaleY(1.04);
		-ms-transform: scaleY(1.04);
		-webkit-transform: scaleY(1.04);
		transform: scaleY(1.04);
	}
	100% {
		-moz-transform: scaleY(0.98);
		-ms-transform: scaleY(0.98);
		-webkit-transform: scaleY(0.98);
		transform: scaleY(0.98);
	}
	80% {
		-moz-transform: scaleY(1.02);
		-ms-transform: scaleY(1.02);
		-webkit-transform: scaleY(1.02);
		transform: scaleY(1.02);
	}
	100% {
		-moz-transform: scaleY(1);
		-ms-transform: scaleY(1);
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
}
@-webkit-keyframes showAnimation {
	0% {
		-moz-transform: scaleY(0.1);
		-ms-transform: scaleY(0.1);
		-webkit-transform: scaleY(0.1);
		transform: scaleY(0.1);
	}
	40% {
		-moz-transform: scaleY(1.04);
		-ms-transform: scaleY(1.04);
		-webkit-transform: scaleY(1.04);
		transform: scaleY(1.04);
	}
	60% {
		-moz-transform: scaleY(0.98);
		-ms-transform: scaleY(0.98);
		-webkit-transform: scaleY(0.98);
		transform: scaleY(0.98);
	}
	80% {
		-moz-transform: scaleY(1.04);
		-ms-transform: scaleY(1.04);
		-webkit-transform: scaleY(1.04);
		transform: scaleY(1.04);
	}
	100% {
		-moz-transform: scaleY(0.98);
		-ms-transform: scaleY(0.98);
		-webkit-transform: scaleY(0.98);
		transform: scaleY(0.98);
	}
	80% {
		-moz-transform: scaleY(1.02);
		-ms-transform: scaleY(1.02);
		-webkit-transform: scaleY(1.02);
		transform: scaleY(1.02);
	}
	100% {
		-moz-transform: scaleY(1);
		-ms-transform: scaleY(1);
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
}
@keyframes hideAnimation {
	0% {
		-moz-transform: scaleY(1);
		-ms-transform: scaleY(1);
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	60% {
		-moz-transform: scaleY(0.98);
		-ms-transform: scaleY(0.98);
		-webkit-transform: scaleY(0.98);
		transform: scaleY(0.98);
	}
	80% {
		-moz-transform: scaleY(1.02);
		-ms-transform: scaleY(1.02);
		-webkit-transform: scaleY(1.02);
		transform: scaleY(1.02);
	}
	100% {
		-moz-transform: scaleY(0);
		-ms-transform: scaleY(0);
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
	}
}
@-moz-keyframes hideAnimation {
	0% {
		-moz-transform: scaleY(1);
		-ms-transform: scaleY(1);
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	60% {
		-moz-transform: scaleY(0.98);
		-ms-transform: scaleY(0.98);
		-webkit-transform: scaleY(0.98);
		transform: scaleY(0.98);
	}
	80% {
		-moz-transform: scaleY(1.02);
		-ms-transform: scaleY(1.02);
		-webkit-transform: scaleY(1.02);
		transform: scaleY(1.02);
	}
	100% {
		-moz-transform: scaleY(0);
		-ms-transform: scaleY(0);
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
	}
}
@-webkit-keyframes hideAnimation {
	0% {
		-moz-transform: scaleY(1);
		-ms-transform: scaleY(1);
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	60% {
		-moz-transform: scaleY(0.98);
		-ms-transform: scaleY(0.98);
		-webkit-transform: scaleY(0.98);
		transform: scaleY(0.98);
	}
	80% {
		-moz-transform: scaleY(1.02);
		-ms-transform: scaleY(1.02);
		-webkit-transform: scaleY(1.02);
		transform: scaleY(1.02);
	}
	100% {
		-moz-transform: scaleY(0);
		-ms-transform: scaleY(0);
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
	}
}

li a {
	color: white;
}

.menu-border li {
	border-left: 1px solid #659ee4;
}
..menu-border li:target {
	border-left: 5px solid #659ee4;
}

/* Footer */

footer {
	margin: 0 5vh 30px 5vh;
}

footer p,
.footer-links {
	display: inline-block;
}

.footer-links {
	float: right;
}

.footer-links a {
	margin-left: 20px;
}

.footer-links a:hover {
	text-decoration: underline black;
}
